<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=book.title%>
    </title>
</head>

<body>
    <h1>
        <%= book.title %> by <%=book.author%>
    </h1>
    <ul>
        <li>Rating: <%=book.rating%>/5</li>
        <li>Date started: <%=book.dateStarted%>
        </li>
        <li>Completed? <%= book.completed ? "Yes" : "No" %>
        </li>
        <li>Number of rereads: <%=book.rereads%>
        </li>
    </ul>
    <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= book.title %></button>
    </form>
    <br /> <br />
    <a href="/books/">Back to Books Catalogue</a>
</body>

</html>